.SpecialPage {}

.SpecialPage-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.SpecialPage-header-actions {
  margin-top: 6px;
}

.SpecialPage-title>h2 {
  margin: 0 0 4px;
  color: #37393d;
}
.SpecialPage-subtitle {
  font-size: 0.8em;
  color: #9aa0a7;
  margin-top: 0;
  margin-bottom: 2em;
}

.SpecialPage-content {
  margin: 0 -16px;
  padding-bottom: 2em;
}
