.SavedPages {}

.PageList-item {
  border-color: #eaecf0;
  border-style: solid;
  border-width: 0px 0px 1px;
}
.PageList-item:first-child { border-top-width: 1px; }

.PageList-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  position: relative;
}
.PageList-item-link {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.PageList-item-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* hidden overflow to trigger ellipsis on children */
  overflow: hidden;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 0.66em 1em;
  height: 88px;
}
.PageList-item-contents>*>* {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.PageList-item-title {
  font-weight: bold;
}
.PageList-item-subtitle, .PageList-item-footer {
  font-size: 0.8em;
  margin-top: 0.2em;
}
.PageList-item-subtitle:first-letter {
  text-transform: capitalize;
}

.PageList-item-header {
}
.PageList-item-footer {
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.PageList-item-last-updated {
  color: #9aa0a7;
}
.PageList-item-size {
  color: #029d7b;
}
