.Menu {
}
.Menu-backdrop,
.Menu-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}
.Menu-backdrop {
  background-color: white;
  opacity: 0.8;
  right: 0;
  z-index: 10;
  transform: translateX(-110%);
}
.Menu-menu {
  width: 250px;
  background-color: #444;
  color: white;
  border-left: 12px solid #333;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 11;
  transform: translateX(-290px);
  transition: transform 0.25s ease-out;
}
.Menu.is-open>.Menu-menu {
  transition: transform 0.25s ease-out;
}
.Menu.is-open>*{
  transform: translateX(0);
}

.Menu-list, .Menu-footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Menu-item {
  display: flex;
  align-items: center;
  padding: 0.5em 1em 0.5em 0.5em;
  text-decoration: none;
  color: white;
  border: 1px solid #777;
  border-width: 1px 0;
}
.Menu-item:first-child { border-top: none; }
.Menu-item .Icon {
  margin-right: 1em;
}

.Menu-footer-list {
  margin-top: 1em;
  font-size: 0.75em;
}
.Menu-footer-list>li>a {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #aaa;
}
