.Article {
}
.Article h1 { font-size: 1.7em; margin-bottom: 0.3em; }
.Article h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #eaecf0;
  padding-bottom: 0.3em;
  margin-bottom: 0.5em;
}
.Article h1,
.Article h2 {
  font-family: 'Linux Libertine','Georgia','Times',serif;
  font-weight: normal;
}

.Article-description {
  font-size: smaller;
  color: #54595d;
  margin-top: 0em;
  text-transform: capitalize;
}

.Article-leadimage {
  height: 200px;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
}
