body.flashcard @page {
    margin: 0;
    size: 100vw 50cm;
}

body.flashcard {
    -webkit-print-color-adjust: exact;
    padding: 0;
    font-family: sans-serif;
}

/* Show branding tailored for English Wikipedia */
body.flashcard:before {
    content: " ";
    display: block;
    background-image: url('https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia_wordmark@2x.png');
    height: 40px;
    background-size: 120px 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-bottom: solid 1px #ccc;
}

/* hide on print */
/* Elements to hide
- Interactive elemts
- Elements leading to other websites
- Elements which cannot have any action in print format
- Navboxes
- Categories
*/
body.flashcard .noprint,
body.flashcard .mw-indicators,
body.flashcard .App-header,
body.flashcard #jump-to-nav,
body.flashcard .mw-redirectedfrom,
body.flashcard .hatnote,
body.flashcard #toc,
body.flashcard #mw-navigation,
body.flashcard #footer-places,
body.flashcard .mw-cite-backlink,
body.flashcard .play-btn-large,
body.flashcard .mbox-small,
body.flashcard .navbox,
body.flashcard .catlinks,
body.flashcard .mw-editsection,
body.flashcard #administrator,
body.flashcard #coordinates .image,
body.flashcard .Article>div:last-child, /* Remaining sections */
body.flashcard .infobox img,
body.flashcard div.ActionBar,
body.flashcard div.App-header,
body.flashcard .ambox-Refimprove,
body.flashcard .vertical-navbox {
    display: none;
}
body.flashcard .Article div.Section-body:first-child {
    display: block;
}

body.flashcard .Section .Section-body a,
body.flashcard .Section .Section-body a:visited {
    color: #222;
}

/*
- Basic infobox styling
*/
.Section .Section-body .infobox {
    border: 1px solid #C8CCD1 !important;
    border-spacing: 0px !important;
    background-color: #fff !important;
    border-radius: 2px;
    color: #222;
    margin: auto;
    padding: 0em;
}

body.flashcard .Section .Section-body .infobox tbody {
    width: 100% !important;
    max-width: 100% !important;
}

body.flashcard .Section .Section-body .infobox a {
    border-bottom: none;
}

body.flashcard .Section .Section-body .infobox td,
body.flashcard .infobox th {
    background-color: white !important;
}

body.flashcard .Section .Section-body .infobox tr:nth-child(2) {
    display: none;
}

body.flashcard .Section .Section-body .infobox th:first-child {
    border-bottom: none;
    background-color: #F5F6F7 !important;
    color: #222;
}

/*
- Main article textual content - sans serif
*/
/* using Lato for body type.
Lato is an open source serif typeface specfically designed for legibility and reading
*/
body.flashcard p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 21px;
    margin-top: 10px;
}

/* article title separator - print element from classic editorial practices */
body.flashcard .Article-description:after {
    content: " ";
    display: block;
    width: 50px;
    background-color: #666 !important;
    height: 1px;
    margin-top: 15px;
}

/* header styling
- Big part of typography
- headers should be closer to the next <p> than the <p> before

====TYPOGRAPHY=====

- H1 = 26pt
- H2 = 18pt
- H3 = 14pt
- H4, H5, H6 = 12pt
*/
/* article name */
body.flashcard h1 {
    font-family: serif;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 5px;
    font-weight: normal;
}

body.flashcard h2 {
    page-break-before: avoid;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 24px;
    border-bottom: 2px solid #222;
    margin-bottom: 0.25em;
    padding: 0;
    overflow: hidden;
    display: block;
    padding-bottom: 5px;
}

body.flashcard h3 {
    font-size: 18px;
    page-break-before: avoid;
    font-family: sans-serif;
    line-height: 20px;
    position: relative;
    padding: 0;
    display: block;
    margin: 30px 0px 0px 0px;
}

/* scanning indicator for H3s
h3:before {
    content: " ";
    height: 1px;
    width: 30px;
    position: absolute;
    left:-40px;
    top: 50%;
    display: block;
    background: #000;
}
*/
/* rest of the headers*/
body.flashcard h4,
body.flashcard h5,
body.flashcard h6 {
    page-break-before: avoid;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 18px;
    position: relative;
    padding: 0;
    display: block;
    margin: 30px 0px 0px 0px;
}

/* reference brackets */
body.flashcard .mw-ref a {
    font-size: 14px;
    border-bottom: none;
}

/* all kind of content types
- Media
- Images
- Tables
- lists
- bullets
- layout classes, right left center
*/
body.flashcard .thumb {
    margin-bottom: .5em;
    width: auto;
    background-color: transparent;
}

body.flashcard .thumb a {
    border-bottom: none;
}

body.flashcard .center {
    width: 100%;
    text-align: center;
}

body.flashcard div.tright {
    margin: .5em 0 1.3em 1.4em;
}

body.flashcard div.tleft {
    margin: .5em 1.4em 1.3em 0;
}

body.flashcard div.tright,
body.flashcard div.floatright,
body.flashcard table.floatright {
    clear: right;
    float: right;
}

body.flashcard div.tleft,
body.flashcard div.floatleft,
body.flashcard table.floatleft {
    clear: left;
    float: left;
}

body.flashcard div.floatright,
body.flashcard table.floatright {
    margin: 0 0 .5em .5em;
    border: 0;
}

body.flashcard ul.gallery {
    margin: 2px;
    padding: 2px;
    display: block;
}

body.flashcard ul.gallery,
body.flashcard li.gallerybox {
    zoom: 1;
}

body.flashcard div#content .gallerybox div.thumb {
    background-color: #FFF;
}

body.flashcard li.gallerybox div.thumb {
    text-align: center;
    border: 1px solid #ccc;
    background-color: #FFF;
    margin: 2px;
}

body.flashcard li.gallerybox {
    vertical-align: top;
    display: -moz-inline-box;
    display: inline-block;
}

body.flashcard li {
    margin-bottom: .1em;
}

body.flashcard div.gallerytext {
    overflow: hidden;
    font-size: 10pt;
    padding: 2px 4px;
    word-wrap: break-word;
}

body.flashcard ul {
    list-style-type: disc;
    list-style-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22…%229.5%22%20r%3D%222.5%22%20fill%3D%22%2300528c%22%2F%3E%0A%3C%2Fsvg%3E%0A);
    list-style-image: url(/w/skins/Vector/images/bullet-icon.svg?90d59) !ie;
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAANCAIAAADuXjPfAAAABnRST…t9AAAAHklEQVR4AWP4jwrowWcI6oEgEBtIISNCfFT9mOYDACO/lbNIGC/yAAAAAElFTkSuQmCC) \9;
    list-style-image: url(/w/skins/Vector/images/bullet-icon.png?e31f8) \9 !ie;
}

body.flashcard ul {
    list-style-type: square;
    margin: .3em 0 0 1.6em;
    padding: 0;
    margin-top: 10px;
}

body.flashcard table.wikitable {
    margin: 1em 0;
    background-color: #FFF;
    border: 1px solid #aaa;
    border-collapse: collapse;
    color: #000;
}

body.flashcard table.wikitable caption {
    padding: 5px;
    font-size: 13px;
}

body.flashcard table.wikitable > tr > th,
body.flashcard table.wikitable > * > tr > th {
    background-color: #FFF;
    text-align: center;
}

body.flashcard table.wikitable > tr > th,
body.flashcard table.wikitable > tr > td,
body.flashcard table.wikitable > * > tr > th,
body.flashcard table.wikitable > * > tr > td {
    border: 1px solid #EAECF0;
    padding: 0.2em 0.4em;
}

body.flashcard div.thumbinner {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    background-color: #FFF;
    font-size: 12px;
    color: #666;
    text-align: left;
    overflow: hidden;
}

body.flashcard .thumbinner {
    min-width: 100px;
}

body.flashcard *.center * {
    margin-left: auto;
    margin-right: auto;
}

body.flashcard ul li {
    padding: 5px 0px;
    font-size: 10pt;
}

body.flashcard.refbegin ul li,
body.flashcard .references li {
    font-size: 13px;
    color: #666;
    padding: 5px 0px;
}

/* New footer
- the page URL
- Last updated as primary info
- tone down the license info
- add Wikimedia Foundation branding as Wikipedia is a Wikimedia Project
*/
body.flashcard .Footer {
    font-size: 14px;
    border-top: 1px solid #eee;
    padding: 20px 1em;
    margin-top: 12px;
    background-color: #F2F2F2 !important;
    text-align: center;
}

body.flashcard .Footer-logo {
    display: none;
}

body.flashcard .Footer ul {
    display: none !important;
}

body.flashcard .Footer:after {
    content: " ";
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/60/Wmf_logo_horiz_K.svg');
    background-size: auto 32px;
    background-repeat: no-repeat;
    height: 32px;
    display: block;
    margin: 10px 15px;
    background-position: center;
}
