@media print { 

  /*
  - Have some padding and body typeface
  - Turn color to pure black. good for printing pure black
   */

  /*
  @page {
  size: 90vw 90vh;
  }
   */

  body {-webkit-print-color-adjust: exact;}

  body {
    font-family: sans-serif;
    font-size: 18px;
  }

}
