.App-content {
  padding: 0 16px;
}
@media (min-width: 750px) {
  .App-content {
    padding: 0 48px;
    max-width: 1000px;
  }
}
@media (min-width: 1000px) {
  .App-content {
    margin: 0 auto;
  }
}

.App-header {
  background-color: #eaecf0;
  color: #333;
  letter-spacing: 2px;
  font-variant: small-caps;
  font-family: 'Linux Libertine','Georgia','Times',serif;
  font-size: 28px;
  text-align: center;
  padding: 10px 0.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
