.Icon {
  border: none;
  width: 30px;
  height: 30px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.Icon.is-type-menu        { background-image: url('icons/mainmenu.png');    }
.Icon.is-type-close       { background-image: url('icons/close.png');       }
.Icon.is-type-home        { background-image: url('icons/home.png');        }
.Icon.is-type-history     { background-image: url('icons/history.png');     }
.Icon.is-type-arrow       { background-image: url('icons/arrow.png');       }
.Icon.is-type-download    { background-image: url('icons/download.png');    }
.Icon.is-type-edit        { background-image: url('icons/edit.png');        }
.Icon.is-type-watch       { background-image: url('icons/star.png');        }
.Icon.is-type-language    { background-image: url('icons/languages.png');   }
.Icon.is-type-get-summary { background-image: url('icons/get_summary.png'); }
.Icon.is-type-save        { background-image: url('icons/save.png');        }
.Icon.is-type-unsave      { background-image: url('icons/unsave.png');      }
.Icon.is-type-savedpages  { background-image: url('icons/savedpages.png');  }

.Icon.is-type-anonymous     { background-size: 24px; background-image: url('icons/anonymous.svg');     }
.Icon.is-type-contributions { background-size: 24px; background-image: url('icons/contributions.svg'); }
.Icon.is-type-nearby        { background-size: 24px; background-image: url('icons/nearby.svg');        }
.Icon.is-type-profile       { background-size: 24px; background-image: url('icons/profile.svg');       }
.Icon.is-type-random        { background-size: 24px; background-image: url('icons/random.svg');        }
.Icon.is-type-settings      { background-size: 24px; background-image: url('icons/settings.svg');      }
.Icon.is-type-watchlist     { background-size: 24px; background-image: url('icons/watchlist.svg');     }
