.SavedPagesMenuItem {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.SavedPagesMenuItem-total {
  padding: 0.2em 1em;
  font-size: 0.7em;
  border-radius: 1em;
  background-color: gray;
}
.SavedPagesMenuItem.is-highlighted .SavedPagesMenuItem-total {
  background-color: #00af89;
  color: white;
}
