.ActionBar {
  border-width: 1px 0;
  border-style: solid;
  border-top-color: #eaecf0;
  border-bottom-color: #c8ccd1;
  padding: 0.5em 0;
  text-align: right;
}
.ActionBar>:first-child { float: left; margin-left: 0 }
.ActionBar>* { display: inline-block; margin-left: 1em; }
@media print {
  .ActionBar { display: none !important; }
}

.ActionBar-save.pulse {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
