.Image {
  overflow: hidden;
  position: relative;
}

.Image>* {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.Image-back {
  background-size: cover;
  filter: blur(20px);
}
.Image-front {
  background-size: contain;
}
